* {
  box-sizing: border-box;
}
body,
html {
  min-width: 320px;
}
a,
a:link,
a:link {
  text-decoration: none;
  color: #000;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: relative;
  background-position: right;
  user-select: none;
  background-size: cover;
  border: 1px solid #e2e2e2;
}
@media (max-width: 750px) {
  .header {
    height: 380px;
  }
}
@media (max-width: 500px) {
  .header {
    height: 330px;
    background-position: -450px 0;
  }
}
.header #logo {
  float: left;
  width: 80px;
  padding: 20px;
}
.header #logo i {
  font-size: 36px;
  font-weight: 0;
  height: 100%;
  color: #FF5A5F;
}
.header .sub-btn {
  display: none;
  padding: 34px 5px 27px;
  top: 0;
  position: absolute;
  left: 55px;
}
.header .sub-btn .img {
  width: 15px;
  transition: all .4s;
  fill: #999;
}
.header .sub-btn .img.trans {
  transform: rotate(180deg);
}
@media (max-width: 1128px) {
  .header .sub-btn {
    display: block;
    float: left;
  }
}
.header .sub-btn i {
  font-size: 18px;
}
.header .search {
  margin-top: 18px;
  margin-right: 10px;
  float: left;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #e2e2e2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px !important;
  border-radius: 4px;
  position: relative;
}
@media (max-width: 1128px) {
  .header .search {
    margin-left: 10px;
  }
}
.header .search.focus {
  border: 1px solid inherit;
}
.header .search i {
  float: left;
  font-size: 24px;
  margin-top: 8px;
  padding-left: 12px;
  color: #767676;
}
.header .search .input-text {
  float: left;
  outline: none;
  border: none;
  box-shadow: none;
  height: 44px;
  padding: 11px;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 5px;
  width: 412px;
  color: inherit;
  caret-color: #767676;
}
@media (min-width: 420px) and (max-width: 610px) {
  .header .search .input-text {
    width: 270px;
  }
}
@media (min-width: 380px) and (max-width: 420px) {
  .header .search .input-text {
    width: 240px;
  }
}
@media (max-width: 380px) {
  .header .search .input-text {
    width: 180px;
  }
}
.header .search .user-history {
  width: 100%;
  height: auto;
  position: absolute;
  top: 47px;
  border-radius: 4px;
  background-color: #fff;
  padding: 30px;
  visibility: hidden;
  border: 1px solid #e2e2e2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px !important;
}
.header .search .user-history.show {
  visibility: visible;
}
.header .search .user-history p {
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
}
.header .search .user-history .his-list li {
  height: 45px;
  padding-top: 5px;
}
.header .search .user-history .his-list li:hover {
  background-color: #bdc;
}
.header .search .user-history .his-list li a {
  font-size: 13px;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  color: #678;
}
.header .search .user-history .his-list li a b {
  color: #484848;
  font-size: 14px;
}
.header .search .user-history .his-list li i {
  font-size: 20px;
  padding: 0 10px;
  margin-top: 5px;
  color: #999;
}
.header .header-nav {
  float: right;
  margin-right: 5px;
  position: relative;
}
@media (max-width: 1128px) {
  .header .header-nav {
    display: none;
  }
}
.header .header-nav > li:nth-child(even) {
  border: 1px solid #e2e2e2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px !important;
}
.header .header-nav > li:nth-child(4) {
  border: none;
}
.header .header-nav > li:not(.sub) {
  float: left;
  border-bottom: 2px solid transparent;
  text-align: center;
  font-size: 13px;
}
.header .header-nav > li:not(.sub):hover {
  border-color: inherit;
}
.header .header-nav > li:not(.sub):not(.sub) {
  cursor: pointer;
}
.header .header-nav > li:not(.sub) img {
  height: 26px;
  margin-right: 10px;
  margin-bottom: 3px;
}
.header .header-nav > li:not(.sub)._currency i {
  display: none;
}
.header .header-nav > li:not(.sub) img.userpic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-bottom: 4px;
  margin-right: 10px;
}
.header .header-nav > li:not(.sub) a {
  height: 80px;
  line-height: 80px;
  padding: 0 5px;
  margin: 0 10px;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  color: inherit;
}
.header .header-nav > li:not(.sub) a:hover {
  text-decoration: none;
}
.header .header-nav li.sub {
  position: absolute;
  top: 82px;
  background-color: #fff;
  display: none;
}
.header .header-nav li.sub.active {
  display: block;
}
.header .header-nav li.sub.currency {
  overflow-Y: scroll;
  left: -155px;
  height: 398px;
  width: 311px;
}
.header .header-nav li.sub.currency::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
}
.header .header-nav li.sub.currency::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
}
.header .header-nav li.sub.currency h4 {
  padding: 12px 16px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  background: #e2e2e2;
}
.header .header-nav li.sub.currency .list {
  height: 57px;
  margin: 0 16px;
  line-height: 57px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #767676;
  vertical-align: middle;
}
.header .header-nav li.sub.currency .list:hover {
  border-bottom: 1px solid #e1e1e1;
}
.header .header-nav li.sub.currency .list img {
  height: 24px;
  margin-right: 9px;
}
.header .header-nav li.sub.currency .list i {
  float: right;
  color: #008489;
  visibility: hidden;
}
.header .header-nav li.sub.currency .list.active i {
  visibility: visible;
}
.header .header-nav li.sub.app {
  height: 228px;
  width: 416px;
  background-color: #fff;
  left: -185px;
}
.header .header-nav li.sub.app > div {
  float: left;
  width: 208px;
}
.header .header-nav li.sub.app > div img {
  height: 160px;
  width: 160px;
  margin: 24px 24px 10px 24px;
}
.header .header-nav li.sub.app > div p {
  text-align: center;
}
.header .header-nav li.sub.house {
  width: 308px;
  height: 178px;
  left: 80px;
  padding: 24px;
}
.header .header-nav li.sub.house > div {
  position: relative;
}
.header .header-nav li.sub.house .rent {
  border-bottom: 1px solid transparent;
  padding: 10px;
}
.header .header-nav li.sub.house .rent:hover {
  border-color: #ccc;
}
.header .header-nav li.sub.house a {
  text-decoration: none;
}
.header .header-nav li.sub.house a i {
  position: absolute;
  font-size: 32px;
  top: 40px;
  left: 220px;
}
.header .header-nav li.sub.house h4 {
  padding-bottom: 10px;
}
.header .header-nav li.sub.house p {
  font-size: 16px;
  padding-right: 40px;
}
.header .header-nav li.sub.house .experience {
  padding: 15px 0;
}
.header .header-nav li.sub.house .experience a {
  font-size: 18px;
  font-weight: bold;
}
.header .header-nav li.sub.like {
  width: 353px;
  background-color: #fff;
  left: 170px;
}
.header .header-nav li.sub.like h4 {
  font-size: 14px;
  font-weight: bold;
  color: #484848;
  padding: 19px 20px 19px 30px;
  background-color: #edefed;
}
.header .header-nav li.sub.like h4 a {
  text-decoration: none;
  float: right;
}
.header .header-nav li.sub.like .list {
  margin: 20px 20px 0 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.header .header-nav li.sub.like .list .text {
  width: 220px;
  height: 78px;
  float: left;
  font-weight: bold;
}
.header .header-nav li.sub.like .list .text .position {
  color: #484848;
}
.header .header-nav li.sub.like .list .text .num1 {
  color: #767676;
  padding: 8px 0;
}
.header .header-nav li.sub.like .list .text .num2 {
  color: #767676;
}
.header .header-nav li.sub.like .list .pic {
  float: right;
}
.header .header-nav li.sub.like .list .pic img {
  height: 78px;
  width: 78px;
}
.header .header-nav li.sub.message {
  width: 398px;
  height: 110px;
  left: 245px;
  font-weight: bold;
}
.header .header-nav li.sub.message .list {
  padding: 16px 0;
  margin: 0 16px;
  border-bottom: 1px solid #eee;
}
.header .header-nav li.sub.message .list a {
  float: right;
  text-decoration: none;
}
.header .header-nav li.sub.user-msg {
  width: 280px;
  height: 357px;
  right: 0;
}
.header .header-nav li.sub.user-msg ul li {
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
  color: #767676;
  padding: 16px 0;
  margin: 0 16px;
  width: 248px;
  text-align: left;
  border-bottom: 1px solid #eee;
}
.header .header-nav li.sub.user-msg ul li:hover {
  border-bottom: 1px solid #999;
}
.header .header-nav-min {
  display: none;
  position: absolute;
  z-index: 2;
  top: 80px;
  width: 100%;
  padding: 24px;
  height: 0;
  transition: all 0.6s ease-out;
  overflow: hidden;
  padding: 0;
  background-color: #fff;
}
.header .header-nav-min.show {
  height: 864px;
}
.header .header-nav-min .hr {
  line-height: 0;
  margin: 16px 0;
  padding: 0;
}
.header .header-nav-min li {
  line-height: 25px;
  padding: 12px;
}
.header .header-nav-min li a {
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
.header .header-nav-min li a i {
  font-size: 28px;
  vertical-align: middle;
  float: right;
}
@media (max-width: 1128px) {
  .header .header-nav-min {
    display: block;
  }
}
.footer {
  height: auto;
  border-top: 1px solid #e1e1e1;
  background-color: #fff;
}
.footer .tab1 {
  height: auto;
  margin-top: 48px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 48px;
}
.footer .tab1 .item > ul {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 auto;
  float: right;
}
.footer .tab1 .item > ul li {
  margin-bottom: 4px;
}
.footer .tab1 .item > ul a {
  color: #767676;
  line-height: 18px;
}
.footer .tab1 .item > ul li:first-child {
  margin-bottom: 16px;
}
.footer .tab1 .item:nth-child(1) .dropup {
  margin-bottom: 8px;
  display: inline-block;
  width: 100%;
}
.footer .tab1 .item:nth-child(1) .dropup .dropdown-toggle.btn-default {
  background-image: none;
  width: 244px;
  height: 44px;
  border-radius: 0;
  background-color: #fff;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  border-color: #ccc;
}
.footer .tab1 .item:nth-child(1) .dropup .dropdown-toggle.btn-default i {
  float: right;
}
@media (max-width: 1200px) {
  .footer .tab1 .item:nth-child(1) .dropup .dropdown-toggle.btn-default {
    width: 100%;
    display: inline-block;
  }
}
.footer .tab1 .item:nth-child(1) .dropup .dropdown-menu {
  width: 244px;
  height: 200px;
  overflow-Y: scroll;
}
@media (max-width: 1200px) {
  .footer .tab1 .item:nth-child(1) .dropup .dropdown-menu {
    width: 100%;
  }
}
.footer .tab2 {
  padding: 24px 0;
  font-size: 16px;
  color: #767676;
  vertical-align: middle;
}
.footer .tab2 i {
  font-size: 24px;
}
.footer .tab2 .link {
  float: right;
  font-size: 14px;
  font-weight: bold;
}
.footer .tab2 .link a {
  padding: 0 3px;
  text-decoration: none;
  color: #767676;
}
@media (max-width: 1200px) {
  .footer .tab2 .link {
    float: none;
  }
}
.footer .tab2 .link i {
  font-weight: normal;
  font-size: 16px;
  color: #767676;
}
.mod {
  user-select: none;
}
.mod .modal-dialog.mad1 {
  width: 568px;
  margin: 200px auto 0;
}
.mod .modal-dialog.mad1 .modal-content {
  display: none;
  padding: 32px;
  border-radius: 2px;
  position: relative;
}
.mod .modal-dialog.mad1 .modal-content .tips {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 70px;
  font-size: 16px;
  font-weight: bold;
  color: red;
  display: none;
  padding: 5px 15px;
  background-color: yellow;
}
.mod .modal-dialog.mad1 .modal-content.active {
  display: block;
}
.mod .modal-dialog.mad1 .modal-content .modal-header {
  font-weight: bold;
  padding: 0;
  border: none;
}
.mod .modal-dialog.mad1 .modal-content .modal-header h4 {
  line-height: 34px;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}
.mod .modal-dialog.mad1 .modal-content .modal-header p {
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 24px;
}
.mod .modal-dialog.mad1 .modal-content .modal-header p a {
  color: #008489;
  padding: 0 4px;
}
.mod .modal-dialog.mad1 .modal-content .modal-body.other {
  text-align: center;
  height: auto;
  padding: 0;
  margin-bottom: 0;
}
.mod .modal-dialog.mad1 .modal-content .modal-body.other a {
  color: #008489;
  font-size: 14px;
  padding: 0;
}
.mod .modal-dialog.mad1 .modal-content.first .modal-body {
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 0 15px;
}
.mod .modal-dialog.mad1 .modal-content.first .modal-body.phone {
  background-color: #ff5a5f;
}
.mod .modal-dialog.mad1 .modal-content.first .modal-body.email {
  background: #09bc13;
}
.mod .modal-dialog.mad1 .modal-content.first .modal-body.other {
  height: auto;
  padding: 0;
  margin-bottom: 0;
}
.mod .modal-dialog.mad1 .modal-content.first .modal-body.other a {
  color: #008489;
  font-size: 14px;
  padding: 0;
}
.mod .modal-dialog.mad1 .modal-content.first .modal-body a {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}
.mod .modal-dialog.mad1 .modal-content.first .modal-body a i {
  color: #fff;
  padding: 0 9px;
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.input,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.input {
  padding: 0;
  overflow: hidden;
  margin-bottom: 18px;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.input .country,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.input .country {
  width: 112px;
  height: 44px;
  padding: 8px 10px;
  border: 1px solid #e2e2e2;
  float: left;
  font-size: 17px;
  color: #666;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.input .country span,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.input .country span {
  float: right;
  transform: rotate(180deg);
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.input .country span i,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.input .country span i {
  font-size: 20px;
  transform: scale(2);
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.input .inputnmb,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.input .inputnmb {
  width: 372px;
  height: 44px;
  float: right;
  color: #484848;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.input .inputnmb input,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.input .inputnmb input {
  border: #e2e2e2;
  outline: none;
  box-shadow: none;
  float: left;
  height: 100%;
  width: 100%;
  padding: 11px;
  font-size: 18px;
  border: 1px solid #e2e2e2;
  letter-spacing: 1px;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.input .inputnmb input:focus,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.input .inputnmb input:focus {
  border: 1px solid #008489;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.verify,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.verify {
  padding: 0;
  overflow: hidden;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.verify input,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.verify input {
  width: 30%;
  border: 1px solid #ddd;
  background-color: #fff;
  height: 42px;
  border: 1px solid #e2e2e2;
  outline: none;
  box-shadow: none;
  padding: 11px;
  font-size: 16px;
  float: left;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.verify input:focus,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.verify input:focus {
  border-color: #008489;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.verify .result,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.verify .result {
  float: left;
  height: 42px;
  width: 30%;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  margin-right: auto;
  margin: 0 24px 0 25px;
  background-color: #ffc;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: Courier, monospace;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.verify .generate,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.verify .generate {
  float: left;
  width: 30%;
  height: 42px;
  border: 2px solid #008489;
  background-color: #008489;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: auto;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.password,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.password {
  overflow: hidden;
  padding: 0;
  margin: 16px 0;
  position: relative;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.password .box,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.password .box {
  overflow: hidden;
  position: relative;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.password .box .pwd,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.password .box .pwd {
  height: 44px;
  outline: none;
  box-shadow: none;
  float: left;
  border: 1px solid #ddd;
  padding: 11px;
  padding-right: 30px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.password .box .pwd:focus,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.password .box .pwd:focus {
  border-color: #008489;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.password .box > i,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.password .box > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.password .box > i.show,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.password .box > i.show {
  color: #ccc;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.password p,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.password p {
  line-height: 20px;
  font-size: 14px;
  height: 20px;
  color: #fc642d;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.password p i,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.password p i {
  padding-right: 8px;
  vertical-align: middle;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.password p.strength,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.password p.strength {
  color: #008489;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.rule,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.rule {
  padding: 0;
  margin-bottom: 10px;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.rule .box,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.rule .box {
  overflow: hidden;
  float: left;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.rule .box .check,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.rule .box .check {
  float: left;
  height: 16px;
  width: 16px;
  color: #fff;
  background-color: #008489;
  margin-top: 6px;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.rule p,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.rule p {
  overflow: hidden;
  padding: 3px 5px;
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.button,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.button {
  margin-bottom: 10px;
  text-align: center;
  background-color: #ff5a5f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(0, 132, 137, 0);
}
.mod .modal-dialog.mad1 .modal-content.phone .modal-body.button:hover,
.mod .modal-dialog.mad1 .modal-content.email .modal-body.button:hover {
  background-color: #008489;
}
.mod .modal-dialog.mad1 .modal-content.email .modal-body.input .inputnmb {
  width: 100%;
}
.mod .modal-dialog.mad1 .modal-content.email .modal-body.input .inputnmb input {
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  font-size: 16px;
}
.hi_top {
  background-color: #fff;
}
.search_condition {
  width: 100%;
  overflow: hidden;
}
.search_condition > ul {
  padding: 16px;
  float: left;
}
.search_condition > ul li {
  float: left;
  padding: 6px 12px;
  margin-left: 8px;
  border: 1px solid #e2e2e2;
  border-radius: 5%;
  font-size: 1.4rem;
}
.search_condition > ul li:hover {
  background-color: #e2e2e2;
  color: #000!important;
}
.search_condition > ul li:hover #datepicker {
  background-color: #e2e2e2;
}
.search_condition > ul li a {
  color: #000!important;
}
.search_condition .search_condition_map {
  float: right;
  margin-right: 10%;
  padding: 16px;
}
.search_condition .search_condition_map span {
  display: inline-block;
}
.search_condition .search_condition_map span:nth-child(2) {
  width: 48px;
  height: 32px;
  background-color: #ddd;
  border-radius: 32px;
  margin-left: 8px;
}
.search_condition .search_condition_map span:nth-child(2) i {
  display: inline-block;
  line-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  margin-left: 0px;
}
.search_condition .btn-primary {
  background-color: #fff!important;
  border: none;
}
.search_condition .btn {
  line-height: 0;
  padding: 0;
}
.search_condition #datepicker {
  width: 35px;
  background-color: #fff;
  border: none;
  outline: none;
}
.hi_contant {
  margin-top: 150px;
}
.hi_contant .hi_contant_left {
  padding-left: 25px;
  padding-top: 32px;
}
.hi_contant .hi_contant_left > div:nth-of-type(1) {
  overflow: hidden;
}
.hi_contant .hi_contant_left > div:nth-of-type(1) .hi_jangb {
  float: left;
  width: 40px;
  margin-right: 16px;
}
.hi_contant .hi_contant_left > div:nth-of-type(1) .hi_jangb img {
  max-width: 100%;
}
.hi_contant .hi_contant_left > div:nth-of-type(1) > p:nth-child(2) {
  float: left;
  line-height: 40px;
  font-size: 1.4rem;
  color: #484848 !important;
  font-weight: 800 !important;
}
.hi_contant .hi_contant_left > div:nth-of-type(2) {
  margin-top: 40px;
  margin-bottom: 40px;
}
.hi_contant .hi_contant_left > div:nth-of-type(2) p:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 800;
  color: #484848 !important;
}
.hi_contant .hi_contant_left > div:nth-of-type(2) p:nth-child(2) {
  color: #484848 !important;
  margin-bottom: 15px;
  font-size: 1.7rem;
}
.hi_contant .hi_contant_left .hi_plus > ul > li {
  margin-bottom: 20px;
  margin-left: 5px;
  display: flex;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .leftimg {
  float: left;
  flex: 1;
  position: relative;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .leftimg .glyphicon-heart-empty {
  position: absolute;
  top: 7%;
  right: 7%;
  font-size: 28px;
  color: #fff;
  opacity: .9;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .leftimg .glyphicon-heart-empty:hover {
  color: #a61d55;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext {
  float: left;
  padding: 16px;
  flex: 2;
  display: flex;
  border: 1px solid #e2e2e2;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextl {
  float: left;
  width: 65%;
  border-right: 1px solid #e2e2e2;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextl .plus_p1 {
  color: #a61d55;
  font-size: 1.2rem;
  font-weight: 600;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextl .plus_p1 > span:nth-child(1) {
  color: #fff;
  font-weight: 800;
  background-color: #a61d55;
  display: inline-block;
  padding: 1px 3px;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-right: 3px;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextl .plus_name {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.8rem;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextl .plus_shebei {
  color: #484848 !important;
  font-size: 1.5rem;
  padding-top: 5px;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextl .plus_position {
  font-size: 1.5rem;
  font-weight: 600;
  color: #484848;
  padding-top: 15px;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextr {
  width: 35%;
  text-align: right;
  padding-left: 20px;
  float: left;
  position: relative;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextr .plus_price {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.7rem;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextr .plus_meiwan {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.2rem;
  padding: 3px 0;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextr .plus_starpj {
  color: #484848 !important;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextr .plus_starpj .glyphicon-star {
  font-size: 1.2rem;
  color: #a61d55;
}
.hi_contant .hi_contant_left .hi_plus > ul > li .righttext .righttextr .plus_tx {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.hi_contant .hi_contant_left .hi_plus > ul > li img {
  max-width: 100%;
  max-height: 200px;
}
.hi_contant .hi_contant_left .hi_plus > p {
  font-size: 1.7rem;
  margin-top: 10px;
  color: #008489 !important;
  font-weight: 800;
}
.hi_contant .hi_contant_left .hi_plus > p .glyphicon-menu-right {
  font-size: 1.4rem;
}
.hi_contant .hi_contant_left .hi_house {
  padding-top: 50px;
}
.hi_contant .hi_contant_left .hi_house > p:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 800;
  color: #484848 !important;
  padding-bottom: 20px;
}
.hi_contant .hi_contant_left .hi_house > ul > li {
  margin-bottom: 20px;
  margin-left: 5px;
  display: flex;
}
.hi_contant .hi_contant_left .hi_house > ul > li .leftimg {
  float: left;
  flex: 1;
  position: relative;
}
.hi_contant .hi_contant_left .hi_house > ul > li .leftimg .glyphicon-heart-empty {
  position: absolute;
  top: 7%;
  right: 7%;
  font-size: 28px;
  color: #fff;
  opacity: .9;
}
.hi_contant .hi_contant_left .hi_house > ul > li .leftimg .glyphicon-heart-empty:hover {
  color: #a61d55;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext {
  float: left;
  padding: 16px;
  flex: 2;
  display: flex;
  border: 1px solid #e2e2e2;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextl {
  float: left;
  width: 65%;
  border-right: 1px solid #e2e2e2;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextl .plus_p1 {
  color: #572533;
  font-size: 1.2rem;
  font-weight: 600;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextl .plus_p1 > span:nth-child(1) {
  color: #fff;
  font-weight: 800;
  background-color: #a61d55;
  display: inline-block;
  padding: 1px 3px;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-right: 3px;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextl .plus_name {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.8rem;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextl .plus_shebei {
  color: #484848 !important;
  font-size: 1.5rem;
  padding-top: 5px;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextl .plus_position {
  font-size: 1.5rem;
  font-weight: 600;
  color: #484848;
  padding-top: 15px;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextr {
  width: 35%;
  text-align: right;
  padding-left: 20px;
  float: left;
  position: relative;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextr .plus_price {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.7rem;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextr .plus_meiwan {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.2rem;
  padding: 3px 0;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextr .plus_starpj {
  color: #484848 !important;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextr .plus_starpj .glyphicon-star {
  font-size: 1.2rem;
  color: #a61d55;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextr .plus_free {
  font-size: 1.2rem;
  color: #484848 !important;
  font-weight: 800 !important;
}
.hi_contant .hi_contant_left .hi_house > ul > li .righttext .righttextr .plus_tx {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.hi_contant .hi_contant_left .hi_house > ul > li img {
  max-width: 100%;
  max-height: 200px;
}
.hi_contant .hi_contant_right {
  padding-right: 0;
  position: fixed;
  top: 140px;
  right: 0;
  z-index: 2;
}
.maplogo {
  position: fixed!important;
  bottom: 10px!important;
  right: 10px!important;
  z-index: 2018;
}
.maplogo .glyphicon-globe {
  font-size: 25px!important;
  color: #008489 !important;
}
