* {
  box-sizing: border-box;
}
body,
html {
  min-width: 320px;
}
a,
a:link,
a:link {
  text-decoration: none;
  color: #000;
}
.modal-backdrop {
  z-index: 500!important;
}
#ui-datepicker-div {
  top: 140px!important;
}
.hi_top {
  background-color: #fff;
  z-index: 511!important;
  padding: 0;
}
.search_condition {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1;
}
.search_condition > ul {
  padding: 16px;
  float: left;
}
.search_condition > ul li {
  float: left;
  padding: 6px 12px;
  margin-left: 8px;
  border: 1px solid #f1f1f1;
  border-radius: 5%;
  font-size: 1.4rem;
}
.search_condition > ul li:hover {
  background-color: #f1f1f1;
  color: #000!important;
}
.search_condition > ul li:hover #datepicker {
  background-color: #f1f1f1;
}
.search_condition > ul li a {
  color: #000!important;
}
.search_condition .search_condition_map {
  float: right;
  margin-right: 10%;
  padding: 16px;
}
.search_condition .search_condition_map span {
  display: inline-block;
}
.search_condition .search_condition_map span:nth-child(2) {
  width: 48px;
  height: 32px;
  background-color: #ddd;
  border-radius: 32px;
  margin-left: 8px;
}
.search_condition .search_condition_map span:nth-child(2) i {
  display: inline-block;
  line-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  margin-left: 0px;
}
.search_condition .btn-primary {
  background-color: #fff!important;
  border: none;
  outline: none;
}
.search_condition .btn {
  line-height: 0;
  padding: 0;
  outline: none;
}
.search_condition #datepicker {
  width: 35px;
  background-color: #fff;
  border: none;
  outline: none;
}
.search_condition .mod_price {
  color: #000!important;
  font-size: 1.4rem;
}
.search_condition .modal-dialog {
  top: 110px;
  left: -22%;
  width: 30%;
}
@media screen and (max-width: 400px) {
  .search_condition .modal-dialog {
    top: 150px;
    left: 3%;
    width: 90%;
  }
}
.hi_contant {
  margin-top: 150px;
}
.hi_contant .hi_contant_left {
  padding-left: 25px;
  padding-top: 1%;
}
.hi_contant .hi_contant_left > div:nth-of-type(1) {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hi_contant .hi_contant_left > div:nth-of-type(1) .hi_jangb {
  max-width: 60px;
}
.hi_contant .hi_contant_left > div:nth-of-type(1) .hi_jangb img {
  max-width: 100%;
}
.hi_contant .hi_contant_left > div:nth-of-type(1) > p:nth-child(2) {
  margin-left: 16px;
  font-size: 1.4rem;
  color: #484848 !important;
  font-weight: 800 !important;
}
.hi_contant .hi_contant_left > div:nth-of-type(2) {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hi_contant .hi_contant_left > div:nth-of-type(2) p:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 800;
  color: #484848 !important;
}
.hi_contant .hi_contant_left > div:nth-of-type(2) p:nth-child(2) {
  color: #484848 !important;
  margin-bottom: 15px;
  font-size: 1.7rem;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li {
  margin-bottom: 20px;
  margin-left: 5px;
  display: flex;
  cursor: pointer;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .leftimg {
  float: left;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .leftimg img {
  max-width: 100%;
  max-height: 200px;
  min-height: 160px;
  min-width: 250px;
  border-radius: 5px;
  transition: all .6s;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .leftimg img:hover {
  transform: scale(1.1);
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .leftimg .glyphicon-heart-empty {
  position: absolute;
  top: 7%;
  right: 7%;
  font-size: 28px;
  color: #fff;
  opacity: .9;
  z-index: 5;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .leftimg .glyphicon-heart-empty:hover {
  color: #a61d55;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext {
  float: left;
  padding: 16px;
  flex: 2;
  display: flex;
  border: 1px solid #f1f1f1;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextl {
  float: left;
  width: 65%;
  border-right: 1px solid #f1f1f1;
  position: relative;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextl .plus_p1 {
  color: #a61d55;
  font-size: 1.2rem;
  font-weight: 600;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextl .plus_p1 > span:nth-child(1) {
  color: #fff;
  font-weight: 800;
  background-color: #a61d55;
  display: inline-block;
  padding: 1px 3px;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-right: 3px;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextl .plus_name {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextl .plus_shebei {
  color: #484848 !important;
  font-size: 1.5rem;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextl .plus_position {
  font-size: 1.5rem;
  font-weight: 600;
  color: #484848;
  padding-top: 5px;
  display: none;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextl .plus_mark {
  color: #008489;
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  padding: 8px;
  cursor: pointer;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextr {
  width: 35%;
  text-align: right;
  padding-left: 20px;
  float: left;
  position: relative;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextr .plus_price {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.7rem;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextr .plus_meiwan {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.2rem;
  padding: 3px 0;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextr .plus_starpj {
  color: #484848 !important;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextr .plus_starpj .glyphicon-star {
  font-size: 1.2rem;
  color: #a61d55;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextr .plus_tx {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.hi_contant .hi_contant_left .hi_plus .house_plus > li .righttext .righttextr .plus_tx img {
  width: 100%;
}
.hi_contant .hi_contant_left .hi_plus > p {
  font-size: 1.7rem;
  margin-top: 10px;
  color: #008489 !important;
  font-weight: 800;
}
.hi_contant .hi_contant_left .hi_plus > p .glyphicon-menu-right {
  font-size: 1.4rem;
}
@media screen and (max-width: 750px) {
  .hi_contant .hi_contant_left .hi_plus > p {
    width: 100%;
    border: 1px solid #008489;
    border-radius: 4px ;
    padding: 14px;
    text-align: center;
  }
  .hi_contant .hi_contant_left .hi_plus > p .glyphicon-menu-right {
    display: none;
  }
}
.hi_contant .hi_contant_left .hi_house {
  padding-top: 25px;
  overflow: hidden;
}
.hi_contant .hi_contant_left .hi_house > p:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 800;
  color: #484848 !important;
  padding-bottom: 20px;
}
.hi_contant .hi_contant_left .hi_house .house_house > li {
  margin-bottom: 20px;
  margin-left: 5px;
  display: flex;
  cursor: pointer;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .leftimg {
  float: left;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .leftimg img {
  max-width: 100%;
  max-height: 200px;
  min-height: 160px;
  min-width: 250px;
  border-radius: 5px;
  transition: all .6s;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .leftimg img:hover {
  transform: scale(1.1);
}
.hi_contant .hi_contant_left .hi_house .house_house > li .leftimg .glyphicon-heart-empty {
  position: absolute;
  top: 7%;
  right: 7%;
  font-size: 28px;
  color: #fff;
  opacity: .9;
  z-index: 5;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .leftimg .glyphicon-heart-empty:hover {
  color: #a61d55;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext {
  float: left;
  padding: 16px;
  flex: 2;
  display: flex;
  border: 1px solid #f1f1f1;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextl {
  float: left;
  width: 70%;
  border-right: 1px solid #f1f1f1;
  position: relative;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextl .plus_p1 {
  color: #572533;
  font-size: 1.2rem;
  font-weight: 600;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextl .plus_p1 > span:nth-child(1) {
  color: #fff;
  font-weight: 800;
  background-color: #a61d55;
  display: inline-block;
  padding: 1px 3px;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-right: 3px;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextl .plus_name {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextl .plus_shebei {
  color: #484848 !important;
  font-size: 1.5rem;
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextl .plus_position {
  font-size: 1.5rem;
  font-weight: 600;
  color: #484848;
  padding-top: 5px;
  display: none;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextl .plus_mark {
  color: #008489;
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  padding: 8px;
  cursor: pointer;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextr {
  width: 30%;
  text-align: right;
  padding-left: 20px;
  float: left;
  position: relative;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextr .plus_price {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.7rem;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextr .plus_meiwan {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.2rem;
  padding: 3px 0;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextr .plus_starpj {
  color: #484848 !important;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextr .plus_starpj .glyphicon-star {
  font-size: 1.2rem;
  color: #a61d55;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextr .plus_free {
  font-size: 1.2rem;
  color: #484848 !important;
  font-weight: 800 !important;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextr .plus_tx {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.hi_contant .hi_contant_left .hi_house .house_house > li .righttext .righttextr .plus_tx img {
  width: 100%;
}
.hi_contant .hi_contant_right {
  padding-right: 0;
  position: fixed;
  top: 140px;
  right: 0;
  z-index: 2;
}
.maplogo {
  width: 50px;
  height: 50px;
  position: fixed!important;
  bottom: 10px!important;
  right: 10px!important;
  z-index: 10;
  border-radius: 50%;
  padding: 12px;
  background-color: #fff;
}
.maplogo .glyphicon-globe {
  font-size: 25px!important;
  color: #008489 !important;
}
@media screen and (max-width: 750px) {
  .house_plus,
  .house_house {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  .house_plusmin,
  .house_housemin {
    display: none;
  }
}
.house_plusmin > li {
  margin: 0;
  padding: 8px;
  cursor: pointer;
}
@media screen and (min-width: 750px) {
  .house_plusmin > li {
    min-height: 370px!important;
  }
}
@media screen and (max-width: 530px) {
  .house_plusmin > li {
    min-height: 280px!important;
  }
}
@media screen and (max-width: 400px) {
  .house_plusmin > li {
    min-height: 240px!important;
  }
}
.house_plusmin > li > img {
  max-width: 100%!important;
  border-radius: 5px;
}
.house_plusmin > li .plus_p1 {
  color: #a61d55;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 5px;
}
.house_plusmin > li .plus_p1 > span:nth-child(1) {
  color: #fff;
  font-weight: 800;
  background-color: #a61d55;
  display: inline-block;
  padding: 1px 3px;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-right: 3px;
}
.house_plusmin > li .plus_name {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.house_plusmin > li .plus_starpj {
  color: #484848 !important;
  padding-top: 5px;
}
.house_plusmin > li .plus_starpj .glyphicon-star {
  font-size: 1.1rem;
  color: #a61d55;
}
.house_housemin > li {
  cursor: pointer;
  padding-top: 10px;
}
@media screen and (min-width: 750px) {
  .house_housemin > li {
    min-height: 370px;
  }
}
.house_housemin > li > img {
  max-width: 100%!important;
  border-radius: 5px;
}
.house_housemin > li .plus_p1 {
  color: #572533;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 8px ;
}
.house_housemin > li .plus_p1 > span:nth-child(1) {
  color: #fff;
  font-weight: 800;
  background-color: #a61d55;
  display: inline-block;
  padding: 1px 3px;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-right: 3px;
}
.house_housemin > li .plus_name {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.house_housemin > li .plus_price {
  color: #484848 !important;
  font-weight: 600 !important;
  font-size: 1.4rem;
  padding-top: 3px;
}
.house_housemin > li .plus_starpj {
  color: #484848 !important;
  padding-top: 5px;
}
.house_housemin > li .plus_starpj .glyphicon-star {
  font-size: 1.3rem;
  color: #008489;
}
.hi_banner {
  padding: 50px 150px;
}
.hi_banner > div:nth-child(1) img {
  max-width: 100%;
  border-radius: 5px;
}
.hi_banner > div:nth-child(2) p:nth-child(1) {
  font-size: 2.8rem;
  line-height: 32px !important;
  color: #484848 !important;
  font-weight: 800;
  padding-top: 13%;
}
.hi_banner > div:nth-child(2) p:nth-child(2) {
  font-size: 1.4rem !important;
  line-height: 18px !important;
  display: inline-block;
  background-color: #008489;
  padding: 8px 16px;
  border-radius: 5px;
  margin-top: 20px;
}
.hi_banner > div:nth-child(2) p:nth-child(2) a {
  color: #fff;
  font-weight: 800;
}
.hi_housebtm_ul > li {
  cursor: pointer;
  padding-top: 10px;
}
@media screen and (min-width: 750px) {
  .hi_housebtm_ul > li {
    min-height: 370px;
  }
}
.hi_housebtm_ul > li > img {
  max-width: 100%!important;
  border-radius: 5px;
}
.hi_housebtm_ul > li .plus_p1 {
  color: #572533;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 8px ;
}
.hi_housebtm_ul > li .plus_p1 > span:nth-child(1) {
  color: #fff;
  font-weight: 800;
  background-color: #a61d55;
  display: inline-block;
  padding: 1px 3px;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-right: 3px;
}
.hi_housebtm_ul > li .plus_name {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hi_housebtm_ul > li .plus_price {
  color: #484848 !important;
  font-weight: 600 !important;
  font-size: 1.4rem;
  padding-top: 3px;
}
.hi_housebtm_ul > li .plus_starpj {
  color: #484848 !important;
  padding-top: 5px;
}
.hi_housebtm_ul > li .plus_starpj .glyphicon-star {
  font-size: 1.3rem;
  color: #008489;
}
.ui-widget-header {
  background-color: #ccc!important;
}
