@charset 'UTF-8';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
ul {
  list-style: none;
}
a,
a:visited,
a:link {
  text-decoration: none!important;
  color: #000;
}
.aby_banner {
  background-image: url(../images/index/solid01.jpg);
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  background-size: cover !important;
  width: 100% !important;
  background-repeat: no-repeat !important;
  min-height: 480px;
  position: relative;
}
.aby_banner .banner_text {
  margin: 170px auto;
  top: 150px;
}
.aby_banner .banner_text h2 {
  color: #FF5A5F ;
  font-size: 42px;
  font-weight: 1000;
}
.aby_banner .banner_text h2:nth-child(2) {
  color: #fff ;
}
.aby_search {
  margin: 16px auto;
  position: relative;
}
.aby_search > div {
  padding: 8px 24px 8px;
  border: 1px solid #EBEBEB;
  box-shadow: 0 0px 30px rgba(156, 160, 171, 0.25);
}
.aby_search > div > div input {
  padding: 11px;
  border: none;
  width: 80%;
  font-weight: 600;
  outline: none;
}
.aby_search > div > div i {
  font-size: 24px;
  color: #767676;
  display: block;
  float: left;
  padding-top: 11px;
}
.aby_search > div > div button {
  background-color: #FF5A5F;
  border: none;
  color: #fff;
  padding: 11px 18px;
  float: right;
  border-radius: 5px;
}
.aby_search .search_hover {
  display: none;
  width: 97.5%;
  margin-top: 1px;
  border: 1px solid #EBEBEB;
  position: absolute;
  background-color: #fff;
  z-index: 5;
  box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25);
  padding: 0 48px;
}
.aby_search .search_hover > div:nth-child(1) {
  border-bottom: 1px solid #EBEBEB;
}
.aby_search .search_hover > div:nth-child(1) p {
  padding: 16px 0;
  margin: 0;
  font-size: 1.2rem;
  color: #767676 ;
  font-weight: 600;
}
.aby_search .search_hover > div:nth-child(2) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}
.aby_search .search_hover > div:nth-child(2) div {
  padding-right: 0;
}
.aby_search .search_hover > div:nth-child(2) div p {
  padding-top: 40px;
  color: #484848;
  font-weight: 600;
}
.aby_search .search_hover > div:nth-child(2) div ul li {
  float: left;
  width: 25%;
  padding-top: 20px;
}
.aby_search .search_hover > div:nth-child(2) div ul li a {
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  color: #484848;
}
.aby_search .search_hover > div:nth-child(2) div ul li a:hover {
  background-color: #cceeeb;
}
.aby_search .search_hover > div:nth-child(3) {
  padding-top: 40px;
  color: #484848;
  font-weight: 600;
}
.aby_search .search_hover > div:nth-child(3) > ul {
  padding-bottom: 40px;
}
.aby_search .search_hover > div:nth-child(3) > ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.aby_search .search_hover > div:nth-child(3) > ul li span {
  display: block;
  font-size: 1.4rem!important;
  font-weight: normal!important;
  padding: 3px;
  color: #656565!important;
}
.aby_search .search_hover > div:nth-child(3) > ul li span:nth-child(2) {
  font-size: 1.2rem!important;
  font-weight: 600!important;
  color: #767676!important;
}
.aby_search .search_hover > div:nth-child(3) > ul li:hover {
  background-color: #cceeeb;
}
@media screen and (max-width: 1100px) {
  .aby_search {
    margin: 16px auto;
    padding: 0 15px;
    position: relative;
  }
  .aby_search > div {
    padding: 0 24px ;
    border: 1px solid #EBEBEB;
    box-shadow: 0 0px 30px rgba(156, 160, 171, 0.25);
  }
  .aby_search > div > div input {
    padding: 11px;
    border: none;
    width: 90%;
    font-weight: 600;
    outline: none;
  }
  .aby_search > div > div i {
    font-size: 22px;
    color: #767676;
    display: block;
    float: left;
    padding-top: 11px;
  }
  .aby_search > div > div button {
    display: none;
  }
}
.aby_history {
  padding-top: 40px;
  padding-bottom: 40px;
}
.aby_history > p {
  margin-bottom: 8px;
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.3em;
}
.aby_history > div .history_ul > li {
  padding-top: 10px;
}
@media screen and (min-width: 750px) {
  .aby_history > div .history_ul > li {
    min-height: 370px;
  }
}
.aby_history > div .history_ul > li > img {
  max-width: 100%!important;
  border-radius: 5px;
}
.aby_history > div .history_ul > li > p {
  margin: 0;
}
.aby_history > div .history_ul > li .plus_p1 {
  color: #572533;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 8px ;
}
.aby_history > div .history_ul > li .plus_p1 > span:nth-child(1) {
  color: #fff;
  font-weight: 800;
  background-color: #a61d55;
  display: inline-block;
  padding: 1px 3px;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-right: 3px;
}
.aby_history > div .history_ul > li .plus_name {
  color: #484848 !important;
  font-weight: 800 !important;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.aby_history > div .history_ul > li .plus_price {
  color: #484848 !important;
  font-weight: 600 !important;
  font-size: 1.4rem;
  padding-top: 3px;
  margin: 0;
}
.aby_history > div .history_ul > li .plus_starpj {
  color: #484848 !important;
  padding-top: 5px;
}
.aby_history > div .history_ul > li .plus_starpj .glyphicon-star {
  font-size: 1.3rem;
  color: #008489;
}
@media screen and (max-width: 756px) {
  .aby_history > p {
    padding-left: 5%;
  }
  .aby_history > div {
    padding-left: 5%;
  }
}
.aby_explore > p {
  padding-top: 15px;
  font-size: 2.2rem;
  font-weight: 800;
  padding-bottom: 10px;
}
.aby_explore img {
  max-width: 100%;
}
.aby_explore a {
  border: 1px solid #ccc;
  display: block;
  border-radius: 3px ;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
.aby_explore .pm {
  padding: 0!important;
  margin: 0!important;
}
.aby_explore .exp_text {
  padding-top: 17%;
  padding-left: 10%;
  color: #484848;
  font-weight: 800;
}
@media screen and (max-width: 1200px) {
  .exp_text {
    padding-top: 12%!important;
  }
}
@media screen and (max-width: 700px) {
  .exp_text {
    padding-top: 12%!important;
    font-size: 1em;
  }
}
@media screen and (max-width: 400px) {
  .exp_text {
    padding-top: 12%!important;
    font-size: .7em;
  }
}
.aby_tabs {
  padding-top: 30px;
}
.aby_tabs > p {
  font-size: 2.2rem;
  font-weight: 800;
}
.aby_tabs > div {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.aby_tabs > div > ul {
  display: inline-block;
  padding-bottom: 20px;
  overflow: hidden;
  margin-bottom: 0;
}
.aby_tabs > div > ul li {
  float: left;
  line-height: 18px;
  margin-right: 24px;
  font-weight: 800;
}
.aby_tabs > div > ul li a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.4rem;
}
.aby_tabs .tabs_house {
  overflow: hidden;
}
.aby_tabs .tabs_house > li {
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.aby_tabs .tabs_house > li > img {
  max-width: 100%;
  border-radius: 5px;
}
.aby_tabs .tabs_house > li .house_price {
  color: #484848 !important;
  font-weight: 800 !important;
  padding-top: 10px;
  margin-bottom: 0;
}
.aby_tabs .tabs_house > li .house_price .glyphicon-flash {
  color: #ffb400;
}
.aby_tabs .tabs_house > li .house_price span {
  float: right;
  font-size: 1.2rem;
}
.aby_tabs .tabs_house > li .house_price .glyphicon-star {
  font-size: 1.2rem;
  color: #008489;
}
.aby_tabs .tabs_house > li .house_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 8px;
  font-size: 1.4rem;
  font-weight: 800;
  color: #727272;
  width: 70%;
  margin-bottom: 0;
}
.aby_tabs .tabs_house > li .house_size {
  color: #767676;
  font-size: 1.2rem;
}
.aby_tabs .tabs_house > li .user_tx {
  position: absolute;
  bottom: 15px;
  right: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.aby_tabs .tabs_house > li .user_tx img {
  border-radius: 50%;
  max-width: 40px!important;
}
.aby_tabs .tabs_more {
  padding: 8px 16px;
  background-color: #008489;
  color: #fff;
  font-size: 1.4rem;
  margin-top: 10px;
  display: inline-block;
  margin-left: 15px;
  border-radius: 5%;
}
.aby_tabs .tabs_more a {
  color: #fff!important;
}
.aby_tabs .active1 {
  border-bottom: 2px solid #008489;
  color: #008489;
}
.aby_travel {
  margin-top: 30px;
}
.aby_travel > p {
  font-size: 2.2rem;
  font-weight: 800;
  padding-bottom: 15px;
}
.aby_travel ul > li {
  float: left;
}
.aby_travel ul > li img {
  max-width: 100%;
}
.aby_travel ul > li a > p:nth-child(2) {
  margin: 0;
  padding-top: 5px;
}
.aby_travel ul > li a > p:nth-child(2) span {
  color: #484848;
  font-size: 1.4rem;
  font-weight: 800;
}
.aby_travel ul > li a > p:nth-child(3) {
  font-size: 1.2rem;
  color: #484848;
}
.aby_pay {
  margin-top: 15px;
}
.aby_pay ul > li div:nth-child(1) {
  float: left;
  padding-right: 5%;
}
.aby_pay ul > li div:nth-child(1) i {
  font-size: 42px;
}
.aby_pay ul > li div:nth-child(1) .icon-rectangle390 {
  color: #00a9f2;
}
.aby_pay ul > li div:nth-child(1) .icon-logo {
  color: #5bbb97;
}
.aby_pay ul > li div:nth-child(2) {
  float: left;
}
.aby_pay ul > li div:nth-child(2) p:nth-child(1) {
  font-weight: 800;
  font-size: 1.5rem;
  color: #484848;
  line-height: 1 !important;
  margin-top: 13px;
}
.aby_pay ul > li div:nth-child(2) p:nth-child(2) {
  font-size: 1.3rem;
  color: #484848;
  line-height: 1 !important;
  margin-top: 13px;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .aby_pay ul > li div:nth-child(1) {
    width: 30%;
  }
  .aby_pay ul > li div:nth-child(2) {
    width: 70%;
  }
}
.aby_story {
  margin-top: 30px;
}
.aby_story img {
  max-width: 100%;
}
.aby_story > p {
  font-size: 2.2rem;
  font-weight: 800;
}
.aby_story > p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 800;
}
.aby_story > p:nth-child(3) a {
  color: #008489;
}
.aby_story > ul li {
  margin-top: 15px;
  overflow: hidden;
  position: relative;
}
.aby_story > ul li > i {
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10%;
  font-size: 20px;
}
.aby_story > ul li > i:hover {
  color: red;
}
.aby_story > ul li > a {
  display: block;
  overflow: hidden;
}
.aby_story > ul li > a > div {
  display: block;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
}
.aby_story > ul li > a > div img {
  transition: all .6s;
}
.aby_story > ul li > a > div:hover img {
  transform: scale(1.1);
}
.aby_story > ul li > a > div > span {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 5px 8px;
  background-color: #fff;
  border-radius: 8%;
  font-size: 1.2rem;
  color: #727272;
}
.aby_story > ul li > a > p:nth-child(2) {
  margin-top: 5px;
  font-size: 14px ;
  line-height: 18px !important;
  color: #484848 !important;
}
.aby_story > ul li > a > p:nth-child(2) > span:nth-child(1) {
  display: inline-block;
  padding-right: 3px;
  font-weight: 800 !important;
}
.aby_story > ul li > a > p:nth-child(3) {
  padding-top: 8px;
  color: #727272;
  font-size: 1.1rem;
}
.aby_story > ul li > a > p:nth-child(3) b:nth-child(1) {
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 5px;
  color: #727272;
}
.aby_story > ul li > a > p:nth-child(3) b:nth-child(1) img {
  width: 100%;
  display: block;
}
.aby_story > ul li > a > p:nth-child(3) .glyphicon-thumbs-up,
.aby_story > ul li > a > p:nth-child(3) .glyphicon-comment {
  color: #727272;
  font-size: 1.3rem;
  padding-left: 5px;
  padding-right: 5px;
}
.aby_experience {
  margin-top: 30px;
}
.aby_experience img {
  max-width: 100%;
}
.aby_experience > p {
  font-size: 2.2rem;
  font-weight: 800;
  padding-bottom: 5px;
}
.aby_experience h4 {
  margin-top: 0;
  color: #484848 !important;
  font-size: 1.5rem;
}
.aby_experience > p:nth-child(4) {
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 50px;
}
.aby_experience > p:nth-child(4) a {
  color: #008489 !important;
}
.aby_experience ul li {
  margin-top: 10px;
  min-height: 220px;
}
.aby_experience ul li a > div {
  border-radius: 2%;
  overflow: hidden;
}
.aby_experience ul li a > div img {
  transition: all .6s;
}
.aby_experience ul li a > div:hover img {
  transform: scale(1.1);
}
.aby_experience ul li a p {
  margin: 0;
}
.aby_experience ul li a > p:nth-child(2) {
  color: #423720;
  padding-top: 8px;
  font-weight: 800 !important;
  font-size: 1.2rem !important;
  line-height: 16px !important;
}
.aby_experience ul li a > p:nth-child(3) {
  font-weight: 800 !important;
  font-size: 1.5rem !important;
  line-height: 21px !important;
  max-height: 42px !important;
  color: #484848;
}
.aby_experience ul li a > p:nth-child(4) {
  font-size: 1.3rem ;
  color: #484848;
}
.aby_experience ul li a > p:nth-child(5) {
  color: #008489;
}
.aby_experience ul li a > p:nth-child(5) span {
  font-size: 1.0rem ;
  padding-right: 3px;
  display: inline-block;
}
.aby_experience ul li a > p:nth-child(5) .glyphicon-star {
  font-size: 1.0rem ;
}
.aby_experience ul li a > p:nth-child(5) span:nth-of-type(2) {
  padding-left: 3px;
  display: inline-block;
  color: #484848;
}
