@charset 'UTF-8';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}
ul{
    list-style: none;
}
a,a:visited,a:link{
    text-decoration: none!important;
    color: #000;
}
@color-logo: #FF5A5F;;
@color-nav:inherit ;
@color-search-input-text:rgb(118, 118, 118);
@color-nav-border:inherit;
@color-border-div:rgb(241, 241, 241);
//首页banner
.aby_banner{
    // height: 480px;
    background-image: url(../images/index/solid01.jpg);
    right: 0px !important;
    top: 0px !important;
    bottom: 0px !important;
    background-size: cover !important;
    width: 100% !important;
    background-repeat: no-repeat !important;
    min-height: 480px;
    position: relative;
        .banner_text{
            margin: 170px auto;
            // position: absolute;
            top:150px;
            h2{
                color: #FF5A5F ;
                font-size: 42px;
                font-weight: 1000;
            }
            h2:nth-child(2){
                color: #fff ;
            }
        }
}
//ceshi

//首页搜索框

.aby_search{
    margin: 16px auto;
    // padding:0 15px;
    position: relative;

    // 输入框
    &>div{
        padding: 8px 24px 8px;
        border: 1px solid #EBEBEB;
        box-shadow: 0 0px 30px rgba(156,160,171,0.25);
        &>div{
            input{
                padding: 11px;
                border: none;
                width: 80%;
                font-weight: 600;
                outline:none;
            }
            i{
                font-size: 24px;
                color:#767676;
                display: block;
                // padding-top: 5px;
                float: left;
                padding-top: 11px;
            }
            button{
                background-color: #FF5A5F;
                border: none;
                color: #fff;
                padding: 11px 18px;
                float: right;
                border-radius: 5px
            }
        }
         
    }
    //获得焦点出现的
    .search_hover{
        display: none;
        width: 100%-2.5;
        margin-top: 1px;
        border: 1px solid #EBEBEB;
        position: absolute;
        background-color: #fff;
        z-index: 5;
        box-shadow: 0 5px 30px rgba(156,160,171,0.25);
        padding: 0 48px;
        &>div:nth-child(1){
            p{
                padding:16px 0;
                margin: 0;
                font-size: 1.2rem;
                color: #767676 ;
                font-weight: 600;
            }
            border-bottom: 1px solid #EBEBEB;
        }
        // 好去处
        &>div:nth-child(2){
            border-bottom: 1px solid #ccc;
            padding-bottom: 40px;
            div{
                padding-right: 0;

                p{
                    padding-top: 40px;
                    color: #484848;
                    font-weight: 600;
    
                }
                ul{
                    li{
                        float: left;
                        width: 25%;
                        padding-top: 20px;
                        a{
                            display: inline-block;
                            padding: 8px;
                            border-radius: 5px;
                            color: #484848;
                            &:hover{
                                background-color: #cceeeb;
                            }
                        }
                    }
                }
            } 
        }
        // 最近搜索
        &>div:nth-child(3){
            padding-top: 40px;
            color: #484848;
            font-weight: 600;
            &>ul{
                padding-bottom: 40px;
                li{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-radius: 5px;
                    span{
                        display: block;
                        font-size: 1.4rem!important;
                        font-weight: normal!important;
                        padding: 3px;
                        color: #656565!important;   

                    }
                    span:nth-child(2){
                        font-size: 1.2rem!important;
                        font-weight: 600!important; 
                        color: #767676!important;   
                    }
                    &:hover{
                        background-color: #cceeeb;
                    }
                }
            }  
        }
    }
}
/////搜索框 小屏幕 样式 
@media screen and (max-width: 1100px) {
    .aby_search{
        margin: 16px auto;
        padding:0 15px;
        position: relative;
    
        // 输入框
        &>div{
            padding: 0 24px ;
            border: 1px solid #EBEBEB;
            box-shadow: 0 0px 30px rgba(156,160,171,0.25);
            &>div{
                input{
                    padding: 11px;
                    border: none;
                    width: 90%;
                    font-weight: 600;
                    outline:none;
                }
                i{
                    font-size: 22px;
                    color:#767676;
                    display: block;
                    // padding-top: 5px;
                    float: left;
                    padding-top: 11px;
                }
                button{
                    display: none;
                }
               
            }
             
        }
    }
}

// <!-- 最近浏览过的 -->

.aby_history{
    padding-top: 40px;
    padding-bottom: 40px;
    
    &>p{
        margin-bottom: 8px;
        color: rgb(72, 72, 72) !important;
        font-weight: 800 !important;
        font-size: 1.3em;
    }
    
    &>div{
        // img{
        //     max-width: 100%;
        //     border-radius: 5px;
        // }
        // a>p:nth-child(2){
        //     color: rgb(160, 47, 24);
        //     font-size: 1.1rem;
        //     margin-top: 8px;
        //     margin-bottom: 0;
        // }
        // a>p:nth-child(3){
        //     color: rgb(72, 72, 72) !important;
        //     font-weight: 800 !important; 
        //     font-size: 1.5rem;
        //     // margin-top: 8px;
        //     margin-bottom: 0;
        // }
        // a>p:nth-child(4){
        //     color: rgb(72, 72, 72) !important;
        //     font-size: 1.3rem;
        //     font-weight: normal;
        //     // margin-top: 8px;
        // }
        .history_ul{
            &>li{
                padding-top: 10px;
                @media screen and (min-width: 750px) {
                    min-height: 370px;
                }       
                 &>img{
                    max-width: 100%!important;
                    border-radius: 5px;
                }
                &>p{
                    margin: 0;
                }
                .plus_p1{
                    color: rgb(87, 37, 51);
                    font-size: 1.2rem;
                    font-weight: 600;
                    padding-top:8px ;
                    &>span:nth-child(1){
                        color: #fff;
                        font-weight: 800;
                        background-color:rgb(166,29,85);
                        display: inline-block;
                        padding: 1px 3px;
                        font-size: 1.1rem;
                        border-radius: 3px;
                        margin-right: 3px;
                    }
                }
                .plus_name{
                    color: rgb(72, 72, 72) !important;
                    font-weight: 800 !important;
                    font-size: 1.5rem;
                    overflow : hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .plus_price{
                    color: rgb(72, 72, 72) !important;
                    font-weight: 600 !important;
                    font-size: 1.4rem;
                    padding-top: 3px;
                    margin: 0;
                }
               
                    
                .plus_starpj{
                    color: rgb(72, 72, 72) !important;
                    padding-top: 5px;
                    .glyphicon-star{
                        font-size: 1.3rem;
                        color: rgb(0, 132, 137);
                    }
                }
                
            }
        }
    }
}
////当只剩一个时左右padding
@media screen and (max-width: 756px) {
    .aby_history{
        &>p{
            padding-left: 5%;
        }
        &>div{
            padding-left: 5%;
        }
    }
}
// <!-- 探索爱彼迎 -->
.aby_explore{
    // ul>li>a>div:nth-child(2){
    //     // border:1px solid #ccc;
    //     height: 100%;
    // }
    &>p{
        padding-top: 15px;
        font-size: 2.2rem;
        font-weight: 800;
        padding-bottom: 10px;
    }
    img{
        max-width: 100%;
    }
    a{
        border:1px solid #ccc;
        display: block;
        border-radius: 3px ;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) ;
    }
    .pm{
        padding: 0!important;
        margin: 0!important;
    }
    .exp_text{
        padding-top:17%;
        // padding-top: 5%;
        padding-left: 10%;
        // height: 100%!important;
        color: #484848;
        font-weight: 800;
        // font-size: 2rem;
    }
}
// 当宽度改变时上下padding
@media screen and (max-width: 1200px) {
    .exp_text{
        padding-top:12%!important;
    }
}
@media screen and (max-width: 700px) {
    .exp_text{
        padding-top:12%!important;
        font-size: 1em;
    }
}
@media screen and (max-width: 400px) {
    .exp_text{
        padding-top:12%!important;
        font-size: .7em;
    }
}


// aby_tabs/
.aby_tabs{
    padding-top: 30px;
    &>p{
        font-size: 2.2rem;
        font-weight: 800;
    }
    &>div{
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    &>div>ul{
        display: inline-block;
        padding-bottom: 20px;
        overflow: hidden;
        margin-bottom: 0;
        li{
            float: left;
            line-height: 18px;
            margin-right: 24px;
            // font-size: 1.2rem;
            font-weight: 800;
            a{
                // line-height: 18px;
                display: block;
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: 1.4rem
            }
        }
    }
    .tabs_house{
        overflow: hidden;
        &>li{
            padding-bottom:20px;
            position: relative;
            &>img{
            max-width: 100%;
            border-radius: 5px;


            }
            .house_price{
                color: rgb(72, 72, 72) !important;
                font-weight: 800 !important;
                padding-top: 10px;
                margin-bottom: 0;
                .glyphicon-flash{
                    color: rgb(255, 180, 0);
                }
                span{
                    float: right;
                    font-size: 1.2rem
                }
                .glyphicon-star{
                    font-size: 1.2rem;
                    color: rgb(0, 132, 137);
                }
            }
            .house_name{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-top: 8px;
                font-size: 1.4rem;
                font-weight: 800;
                color: #727272;
                width: 70%;  
                margin-bottom: 0;
            }
            .house_size{
                color: rgb(118, 118, 118);
                font-size: 1.2rem;
                
            }
            .user_tx{
                position: absolute;
                bottom: 15px;
                right: 0;
                overflow: hidden;
                padding: 0;
                margin: 0;
                
                img{
                    border-radius: 50%;
                    max-width: 70%!important;
                }
                
            }
        }
        
    }
    .tabs_more{
        padding: 8px 16px;
        background-color:rgb(0, 132, 137);
        color: #fff;
        font-size: 1.4rem;
        margin-top: 10px;
        display: inline-block;
        margin-left: 15px;
        border-radius: 5%;
        a{
            color: #fff!important;
        }
    }
    

    .active1{
        border-bottom: 2px solid rgb(0, 132, 137);
        color: rgb(0, 132, 137);
    }
    // 动态添加
    
}
// <!-- 经典旅游城市 -->  
.aby_travel{
    margin-top: 30px;
    &>p{
        font-size: 2.2rem;
        font-weight: 800;
        padding-bottom: 15px;
    }
    ul>li{
        float: left;
        img{
            max-width: 100%;
        }
        a>p:nth-child(2){
            margin: 0;
            padding-top: 5px;
            span{
            color: rgb(72, 72, 72);
            font-size: 1.4rem; 
            font-weight: 800;
            }
        }
        a>p:nth-child(3){
            font-size: 1.2rem;
            color: rgb(72, 72, 72);
        }   
    }
}
.aby_pay{
    margin-top: 15px;
    ul>li{
        div:nth-child(1){
            float: left;
            padding-right: 5%;
            i{
              font-size: 42px;  
            }
            .icon-rectangle390{
                color: #00a9f2;
            }
            .icon-logo{
                color: #5bbb97;
            }
        }
        div:nth-child(2){
            float: left;
            p:nth-child(1){
                font-weight: 800;
                font-size: 1.5rem;
                color: #484848;
                line-height: 1 !important;
                margin-top: 13px;
            }
            p:nth-child(2){
                // font-weight: 800;
                font-size: 1.3rem;
                color: #484848;
                line-height: 1 !important;
                margin-top: 13px;
            }
        }
    }
}
@media screen and (max-width: 992px)and (min-width: 768px) {
    .aby_pay{
        ul>li{
            div:nth-child(1){
                width: 30%;
            }
            div:nth-child(2){
                width: 70%;
            }
        }
    }
}
// <!-- 故事 -->
.aby_story{
    img{
        max-width: 100%;
        // height: width;
        // max-height: 100%
    }
    margin-top: 30px;
    &>p{
        font-size: 2.2rem;
        font-weight: 800;
    }
    &>p:nth-child(3){
        font-size: 1.5rem;
        font-weight: 800;
        a{
            color: rgb(0, 132, 137);
        }
    }
    &>ul{
        li{
            margin-top: 15px;
            overflow: hidden;
            position: relative;
            &>i{
                position: absolute;
                z-index: 5;
                top: 10px;
                right: 10%;
                font-size: 20px;
                &:hover{
                    color: red;
                }
            }   
        }
        li>a{
            display: block;
            overflow: hidden;
            &>div{
                display: block;
                position: relative;
                border-radius: 2%;
                overflow: hidden;
                img{
                    transition: all .6s;
                }
                &:hover{
                    img{
                        transform: scale(1.1)  
                    }            
                }
                &>span{
                    display: inline-block;
                    position: absolute;
                    bottom: 5%;
                    right: 5%;
                    padding:  5px 8px;
                    background-color: #fff;
                    border-radius: 8%;
                    font-size: 1.2rem;
                    color: #727272;
                }
            }
            &>p:nth-child(2){
                margin-top:5px;
                font-size: 14px ;
                line-height: 18px !important;
                color: rgb(72, 72, 72) !important;
                &>span:nth-child(1){
                    display: inline-block;
                    padding-right: 3px;
                    font-weight: 800 !important;
                }
                
            }
            &>p:nth-child(3){
                padding-top: 8px;
                color: #727272;
                font-size: 1.1rem;

                b:nth-child(1){
                    width: 20px;
                    height: 20px;
                    overflow: hidden;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 8px;
                    margin-top: 5px;
                    color: #727272;
                    img{
                        width: 100%;
                        display: block;    
                    }
                }
                .glyphicon-thumbs-up,.glyphicon-comment{
                    color: #727272;
                    font-size: 1.3rem;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }

        }
    }
}

// <!-- 高分体验 -->
.aby_experience{
    
    img{
        max-width: 100%;
    }
    margin-top: 30px;
    &>p{
        font-size: 2.2rem;
        font-weight: 800;
        padding-bottom: 5px;
    }
    h4{
        margin-top: 0;
        color: rgb(72, 72, 72) !important;
        font-size: 1.5rem;
    }
    &>p:nth-child(4){
        font-size: 1.5rem;
        font-weight: 800;
        padding-top: 30px;
        padding-bottom: 50px;
        a{
            color: rgb(0, 132, 137)!important;
        }
    }
    ul{
        li{
            margin-top: 10px;
            min-height: 220px;
            a{
                &>div{
                    border-radius: 2%;
                    overflow: hidden;
                    img{
                        transition: all .6s;
                    }
                    &:hover{
                        img{
                            transform: scale(1.1)  
                        }            
                    }
                }
                p{
                    margin: 0;
                }
                &>p:nth-child(2){
                    color: rgb(66, 55, 32);
                    padding-top: 8px;
                    font-weight: 800 !important;
                    font-size: 1.2rem !important;
                    line-height: 16px !important;
                }
                &>p:nth-child(3){
                    font-weight: 800 !important;
                    font-size: 1.5rem !important;
                    line-height: 21px !important;
                    max-height: 42px !important;
                    color: rgb(72, 72, 72)
                }
                &>p:nth-child(4){
                    font-size: 1.3rem ;
                    color: rgb(72, 72, 72)
                }
                &>p:nth-child(5){
                    color: #008489;
                    span{
                        font-size: 1.0rem ;
                        padding-right: 3px;
                        display: inline-block;
                        
                    }
                    .glyphicon-star{
                        font-size: 1.0rem ;   
                    }
                    span:nth-of-type(2){
                        padding-left: 3px;
                        display: inline-block;
                        color: rgb(72, 72, 72);
                        
                    }
                    
                }
            }
        }
    }

}
