.header {
  height: 80px;
  background: none;
  z-index: 10;
  border-bottom: 1px solid #eee;
}
.header #logo i {
  color: #FF5A5F;
}
.header .search {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(200, 200, 200, 0.5);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.header .search.focus {
  border: 1px solid #788;
}
.header .search i {
  color: #484848;
  font-weight: bold;
}
.header .search .input-text {
  color: #484848;
}
.header .search .user-history {
  border: 1px solid #ddd;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.header .header-nav > li:not(.sub):hover {
  border-color: #788;
}
.header .header-nav > li:not(.sub) a {
  color: #484848;
}
.header .header-nav li.sub {
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid#f1f1f1;
}
.header .header-nav li.sub.app {
  width: 420px;
}
.main .banner {
  padding-bottom: 125px;
  background-image: url('../images/invite/banner.png');
  position: relative;
}
.main .banner .userpic {
  height: 114px;
}
.main .banner .userpic img {
  height: 114px;
  width: 114px;
  border-radius: 50%;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 48px;
}
.main .banner h3 {
  text-align: center;
  line-height: 35px;
  margin: 25px 0 15px;
  font-size: 32px;
  color: #fff;
}
.main .banner p {
  text-align: center;
  font-size: 20px;
  padding: 0 10px;
  color: #fff;
  line-height: 40px;
}
.main .banner p a {
  color: #fff;
}
