@charset "utf-8";
body {
    background-image: url("../images/story/images1/bbfengye.jpg");
    margin: 0 auto;
    background-size: 100% 100%;
    /* /* background-attachment: fixed; */
}


/*主题部分*/

.title {
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 100px;
}


/*主题底部横线*/

.line {
    margin: 0 auto;
    width: 100px;
    height: 50px;
    border-bottom: 2px solid white;
    margin-top: 30px;
}


/*主题文字说明*/

.word {
    margin: 0 auto;
    color: white;
    margin-top: 80px;
    font-size: 16px;
    line-height: 1.6em;
    max-width: 552px!important;
}


/*标题8篇故事*/

.pane {
    margin: 0 auto;
    width: 110px;
    height: 50px;
    border: 2px solid white;
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 50px;
    border-radius: 5px;
}


/*故事文本内容*/

.temple {
    margin: 0 auto;
    color: white;
    margin-top: 80px;
    font-size: 16px;
    line-height: 1.6em;
    max-width: 552px!important;
}


/*故事文本内容下横线样式如上*/


/*轮播*/

.lunbo {
    max-width: 552px!important;
    max-height: 332px!important;
    margin: 0 auto;
    margin-top: 80px;
}


/*悟道文本内容*/

.lunbo .wudao {
    margin: 0 auto;
    max-width: 552px;
    max-height: 332px;
    background: white;
}

.lunbo .wu {
    max-width: 250px;
    font-size: 20px;
    text-align: center;
    color: rgb(51, 50, 50);
    margin: 0 auto;
    padding-top: 50px;
}