@charset "utf-8";

/*标题头部*/

.navbar-brand>span {
    font-size: 30px;
    color: rgb(34, 32, 32);
}

.header-bottom {
    height: 60px;
    margin-top: 20px;
}

.header-bottom>ul {
    height: 50px;
    padding-left: 0;
}

.header-bottom>ul>li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

@media screen and (max-width:768px) {
    .header-bottom {
        font-size: 12px;
    }
}

.header-bottom .one {
    color: rgb(0, 128, 122);
}

.header-bottom>ul>li>a {
    text-decoration: none;
    color: rgb(65, 63, 63);
}

.header-bottom .first {
    margin-left: 0;
}

.header-bottom .second {
    color: rgb(0, 128, 122);
    height: 40px;
    border-bottom: 2px solid rgb(0, 128, 122);
}


/*推荐搜索部分*/

.row .title {
    font-size: 24px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*热门搜索城市*/

.thumbnail>img {
    opacity: 0.4;
    border-radius: 10%;
}

.city {
    position: relative;
}

.city>span {
    position: absolute;
    font-size: 16px;
    /* padding-left: 45px;
    padding-top: 40px; */
    color: white;
}

.city .top {
    top: 20%;
    left: 35%;
    font-size: 20px;
}

.city .btm {
    left: 30%;
    top: 45%;
    font-size: 14px;
}


/*故事集城市合辑*/

.thumbnail>img {
    border-radius: 10%;
}

.kaoya .img {
    opacity: 0;
}

.huoguo .img {
    opacity: 0;
}

.jianzhu .img {
    opacity: 0;
}

.gushi .kaoya {
    padding: 0;
    border: 0;
}

.gushi .huoguo {
    padding: 0;
    border: 0;
}

.gushi .jianzhu {
    padding: 0;
    border: 0;
}


/*文字定位到图片上*/

.gushi .kaoya {
    position: relative;
}

.kaoya .heji {
    position: absolute;
    font-size: 12px;
    color: rgb(44, 42, 42);
    top: 50%;
    left: 5%;
    z-index: 1;
    height: 20px;
    width: 60px;
    text-align: center;
    background: white;
    border-radius: 10%;
}

.kaoya .top {
    position: absolute;
    color: white;
    top: 60%;
    left: 5%;
    font-size: 24px;
    z-index: 1;
}

.kaoya .btm {
    position: absolute;
    color: white;
    left: 5%;
    top: 75%;
    font-size: 24px;
    z-index: 1;
}

.gushi .huoguo {
    position: relative;
}

.huoguo .heji {
    position: absolute;
    font-size: 12px;
    color: rgb(44, 42, 42);
    top: 50%;
    left: 5%;
    z-index: 1;
    height: 20px;
    width: 60px;
    text-align: center;
    background: white;
    border-radius: 10%;
}

.huoguo .top {
    position: absolute;
    color: white;
    top: 60%;
    left: 5%;
    font-size: 24px;
    z-index: 1;
}

.huoguo .btm {
    position: absolute;
    color: white;
    left: 5%;
    top: 75%;
    font-size: 24px;
    z-index: 1;
}

.gushi .jianzhu {
    position: relative;
}

.jianzhu .heji {
    position: absolute;
    font-size: 12px;
    color: rgb(44, 42, 42);
    top: 50%;
    left: 5%;
    z-index: 1;
    height: 20px;
    width: 60px;
    text-align: center;
    background: white;
    border-radius: 10%;
}

.jianzhu .top {
    position: absolute;
    color: white;
    top: 60%;
    left: 5%;
    font-size: 24px;
    z-index: 1;
}

.jianzhu .btm {
    position: absolute;
    color: white;
    left: 5%;
    top: 75%;
    font-size: 24px;
    z-index: 1;
}


/*主体内容*/

.thumbnail.bingfen {
    padding: 0;
    border: 0;
}

.thumbnail.fangzi {
    padding: 0;
    border: 0;
}

.thumbnail.kafei {
    padding: 0;
    border: 0;
}

.thumbnail.laofoye {
    padding: 0;
    border: 0;
}

.bingfen>img {
    opacity: 9;
}

.fangzi>img {
    opacity: 9;
}

.kafei>img {
    opacity: 9;
}

.laofoye>img {
    opacity: 9;
}

.caption {
    text-align: center;
    position: relative;
}

.caption .chengshi {
    position: absolute;
    font-size: 12px;
    color: rgb(44, 42, 42);
    top: 50%;
    left: 5%;
    z-index: 1;
    height: 20px;
    width: 60px;
    text-align: center;
    background: white;
    border-radius: 10%;
}