@charset "utf-8";

/* 公共基础样式 */

body {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

b,
strong {
    font-weight: bold;
}


/* 通用样式 */

._36rlri {
    display: inline-block;
}

._e296pg {
    position: relative;
}

._1udg6lu {
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
}

._xd7wqa {
    width: 80%;
}

._4efw5a {
    text-transform: uppercase;
}

._hdvsm7 {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    position: absolute;
    top: 40px;
    right: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

._1nrp5up {
    margin-right: 24px;
}

._1t0h0lo {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /* border-bottom: 1px solid rgba(196, 189, 189, 0.781); */
}

._uljuat {
    min-width: 0px;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin-right: 48px;
}

._oplyxi {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 200px;
}

._15fqfo3w {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    width: -webkit-calc(33.3333% - 5.333333333333333px);
    width: -moz-calc(33.3333% - 5.333333333333333px);
    width: calc(33.3333% - 5.333333333333333px);
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    padding-right: 24px;
    display: block;
    padding: 0px;
}

._vx7ityu {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    max-width: 100%;
    margin-right: 24px;
}

._1rac2mq {
    min-width: 0px;
    width: 100%;
    margin-left: 16px;
}

._15zu15p {
    contain: strict;
    width: 100%;
    position: relative;
}

._n02jag {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

._1udg6lu {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    /* background-size: cover ;
  background-position: center ; */
}

._f7heglr {
    margin: 0px;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: normal;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC";
    text-transform: undefined;
    color: #484848;
    padding-top: undefined;
    padding-bottom: undefined;
    font-weight: 800;
}

._18gim6s4 {
    font-weight: 800;
    margin: 0px;
    word-wrap: break-word;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: normal;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC";
    text-transform: undefined;
    color: #484848;
    padding-top: 6px;
    padding-bottom: 6px;
}

._tpbrp {
    color: inherit;
    font-size: 1em;
    font-weight: 700;
    line-height: inherit;
    margin: 0px;
    padding: 0px;
}

._12r18es {
    background: #D8D8D8;
    border-radius: 50%;
    border: 2px solid #ffffff;
    overflow: hidden;
}

._u9jj6t {
    display: flex!important;
}

._110nrr2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    text-decoration: none;
}

._110nrr2:active {
    outline: 0px;
}

._foo5i5 {
    -ms-word-wrap: break-word;
}

._1d2geue7 {
    font-weight: 600;
    margin: 0px;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: normal;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC";
    text-transform: undefined;
    color: #484848;
    padding-top: undefined;
    padding-bottom: undefined;
}

._18t4x8uu {
    margin: 0px;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: normal;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC";
    text-transform: undefined;
    color: #484848;
    padding-top: undefined;
    padding-bottom: undefined;
    font-weight: normal;
}

._q2vcgfe {
    margin: 0px;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: normal;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC";
    text-transform: undefined;
    color: #484848;
    padding-top: undefined;
    padding-bottom: undefined;
    font-weight: normal;
    display: inline;
}

._11d4lg6 {
    position: absolute;
    top: -1px;
}

._jbdb3p {
    padding-left: 24px;
}

._8tbpu3 {
    font-family: Airmoji_Standalone;
    font-weight: normal;
}

._1fs0qybj {
    color: #008489;
    font: inherit;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC";
    text-decoration: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    text-align: left;
}

._1fs0qybj:hover {
    text-decoration: underline;
    color: #008489;
}

._1fs0qybj:focus {
    text-decoration: underline;
}

._1fs0qybj:active {
    color: #006C70;
    outline: 0px;
}

._s50zru {
    border-bottom: 1px solid #EBEBEB;
}

._1vx3fhy {
    padding-top: 5px;
}

._1qbvfjv7 {
    font-weight: 600;
    margin: 0px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC";
    text-transform: undefined;
    color: #484848;
    padding-top: undefined;
    padding-bottom: undefined;
}

._1y2fdh0 {
    position: relative;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    left: 50%;
    right: 50%;
}

._16kww8a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    width: -webkit-calc(33.3333% - 5.333333333333333px);
    width: -moz-calc(33.3333% - 5.333333333333333px);
    width: calc(33.3333% - 5.333333333333333px);
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    padding-right: 24px;
}

._53ak5m {
    max-width: 360px;
}

._12bgzph {
    padding-top: 48px;
    padding-bottom: 64px;
}

.fix {
    height: 50px;
    width: 100%;
    margin: auto auto;
}

.btn-right {
    float: right;
    border: none;
    padding: 0;
    background-color: #ff5a5f;
    width: 200px;
    height: 50px;
    position: relative;
    top: -20px;
    border-radius: 5px;
}

.btn-right div {
    font-size: 16px;
    width: 200px;
    line-height: 50px;
    color: aliceblue;
    text-align: center;
}

.user img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.xing a {
    color: black;
}

.xing span {
    padding: 0;
    color: #008489;
    font-weight: 500;
}

#calendar {
    width: 270px;
    /* margin: -420px auto; */
    overflow: hidden;
    border: 1px solid #000;
    padding: 20px;
    /* position: relative; */
    /* left: 150px */
}

#calendar h4 {
    text-align: center;
    margin-bottom: 10px
}

#calendar .a2 {
    margin-left: 153px;
}

#calendar .week {
    height: 30px;
    line-height: 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px
}

#calendar .week li {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    list-style: none;
}

#calendar .dateList {
    overflow: hidden;
    clear: both
}

#calendar .dateList li {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    list-style: none;
}

#calendar .dateList .ccc {
    color: #ccc;
}

#calendar .dateList .red {
    background: #F90;
    color: #fff;
}

#calendar .dateList .sun {
    color: #f00;
}

._1hl4b1y {
    overflow-y: auto;
    max-height: 320px;
    min-width: 268px;
    flex: 1 1 0%;
    margin: 8px;
}

._utb5aei {
    cursor: pointer;
    border: 1px solid #008489;
    background-color: #fff;
    color: #008489;
    width: 62px;
    height: 36px;
    border-radius: 5px;
}

._fdp53bg {
    display: inline-block;
    vertical-align: top;
    min-height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

._1lds9wb {
    display: inline-block;
    vertical-align: top;
    min-height: 100%;
}

._1svux14 {
    text-align: center;
    vertical-align: top;
    user-select: none;
    background: rgb(255, 255, 255);
}

._gucugi {
    color: rgb(72, 72, 72);
    font-size: 18px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 37px;
    caption-side: initial;
}

._2q1l5fu {
    margin: 0px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    font-family: Circular, "PingFang-SC", "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", "Heiti SC";
    color: #484848;
    font-weight: normal;
}

._p5jgym {
    border-collapse: collapse;
    border-spacing: 0px;
}

._1t8snzw {
    width: 819px;
}

#help {
    margin-left: 60px;
}

#liketiyan {
    margin-left: 60px;
}

#careful {
    margin-left: 60px;
}

#whentiyan h1 {
    padding-left: 60px;
}

#youtry {
    width: 1249px;
    padding-left: 60px;
}

._1mfbomi2 img {
    height: 164.44px;
    width: auto;
    overflow: hidden;
}

._4qkm3d li {
    float: left;
}

._4qkm3d li a {
    color: #000;
    margin-right: 10px;
}

._ll34wp li a {
    color: #000;
}

._ni9axhe {
    display: inline-block;
}

._ztbpzv>div {
    display: flex;
}

@media(min-width:1400px) {
    ._1udg6lu {
        width: 1440px;
        margin: 0 auto;
    }
}

@media(max-width:743px) {
    ._nncr1bm {
        display: flex;
    }
    ._xd7wqa {
        width: auto;
    }
    ._xd7wqa ._4efw5a {
        margin: 0 auto;
    }
    ._xd7wqa ._4efw5a ._f7heglr {
        margin-left: 130px;
        font-size: 22px;
        letter-spacing: 0.2em;
    }
    ._tpbrp {
        font-size: 20px;
    }
    ._12r18es {
        display: block;
        /* margin-left: 144px; */
    }
    ._1d2geue7 {
        padding-left: 95px;
    }
    ._e296pg span {
        font-size: 20px;
    }
    ._e296pg button {
        font-size: 20px;
    }
    .context2q {
        font-size: 20px;
    }
    ._jbdb3p {
        padding-left: 40px;
    }
    ._oplyxi>div {
        margin-bottom: 25px!important;
    }
    .contenttiyan {
        margin-left: 21px;
        letter-spacing: 1em;
    }
    .contenttiyan1 {
        margin-left: 18px;
    }
    ._1qbvfjv7 {
        font-size: 16px;
        color: red;
    }
    ._2qcontent {
        font-size: 15px!important;
    }
    ._1rac2mq ._xsb9xa {
        display: none;
    }
    .pagination+button {
        display: none!important;
    }
    ._e296pg nav {
        padding-left: 66px;
    }
    ._u9jj6t {
        display: block!important;
    }
    ._e615pd {
        display: block;
        margin-left: 0!important;
        margin-top: 10px!important;
        margin-bottom: 10px;
    }
    ._1mfbomi2 {
        display: block!important;
    }
    ._1udg6lu {
        padding-left: 24px;
        padding-right: 24px;
        overflow-x: hidden;
    }
    #wentiyan {
        padding-left: 0;
    }
    ._un65bq {
        width: 100vw;
        margin-left: -webkit-calc(-50vw + 50%);
        margin-left: -moz-calc(-50vw + 50%);
        margin-left: calc(-50vw + 50%);
    }
    ._1glqb7j {
        margin-top: 20px;
    }
    ._xd7wqa {
        width: 100%;
    }
    ._hdvsm7 {
        right: 0px;
    }
    ._1t0h0lo {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    ._uljuat {
        margin-right: 0px;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }
    ._oplyxi {
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        max-width: 100%;
    }
    ._15fqfo3w {
        width: 100%;
        margin-bottom: 24px;
    }
    ._vx7ityu {
        max-width: 100%;
        margin-right: 0px;
    }
    ._1rac2mq {
        margin-left: 0px;
        margin-top: 20px!important;
    }
    ._16kww8a {
        width: 100%;
        margin-bottom: 20px!important;
        margin-top: 20px!important;
    }
    ._53ak5m {
        max-width: 100%;
    }
    #youtry {
        padding-left: 10px;
        width: 370px;
    }
    #tiyanword {
        font-size: 12px;
    }
    #tiyanplace {
        width: 250px;
        font-size: 12px;
    }
    ._1b045eb {
        height: 428px;
    }
    #whentiyan h1 {
        font-size: 20px;
        margin-left: 0px;
    }
    #liketiyan {
        margin: 0;
        padding-left: 60px;
    }
    ._1t8snzaw {
        display: block;
        width: auto;
        display: block!important;
        height: auto!important;
    }
    ._u9jj6t {
        display: block;
    }
    #careful {
        margin-top: 150px!important;
    }
    ._e615pd {
        margin-left: 0;
    }
    .tiyan {
        margin: 0 auto;
    }
    ._1hl4b1y {
        padding-left: 0!important;
        /* display: none; */
    }
    ._189o4cy {
        width: 309.667px;
        height: 376px;
        left: 34.5px;
        top: -500px;
        font-size: 10px;
    }
    ._189o4cy h1 {
        font-size: 18px;
    }
    ._1mfbomi2 {
        display: block;
    }
    #tiyanplace {
        visibility: hidden;
    }
    ._1jl220aq {
        display: none;
    }
    #help {
        display: block;
        margin-left: 40px;
        width: 300px;
    }
    ._19ujlzq3 {
        width: 50%;
    }
    .carousel-inner img {
        width: 693px;
        height: 683px;
    }
    ._xsb9xa img {
        width: 180px;
    }
    #youtry {
        height: 450px!important;
    }
    #calendar {
        margin: 0 auto;
    }
}