.btn-group {
  margin-left: 15px;
}
.tu {
  width: 284px;
  line-height: 72px;
  display: flex;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  border: 1px solid rgba(209, 202, 202, 0.849);
}
.wen {
  margin-left: 10px;
}
.tuwen {
  cursor: pointer;
}
.tuwen img {
  width: 96px;
  height: 68px;
  overflow: hidden;
}
@media (max-width: 743px) {
  .active {
    display: block!important;
  }
  .active img {
    width: 286px!important;
    height: 190px!important;
  }
  .active small {
    font-size: 13px;
  }
  .active span a {
    word-wrap: break-word;
    font-size: 17px;
  }
  .active p {
    font-size: 15px;
  }
  .active div {
    width: 300px;
  }
  .tuwen {
    display: block!important;
  }
  .btn-group button {
    width: 83px;
    height: 60px;
    font-size: 16px;
  }
  .visit {
    width: 370px!important;
    height: auto;
    flex-wrap: wrap!important;
  }
  .lazy img {
    width: 140px!important;
    height: 105px!important;
  }
  .hangzhou {
    width: 140px!important;
    margin-left: 10px;
    height: 250px!important;
  }
  .hangzhou .glyphicon-heart-empty {
    right: 5px!important;
  }
  .hangzhou img {
    width: 140px!important;
    height: 105px!important;
  }
  .hangzhou span {
    font-size: 14px!important;
    font-weight: 700;
  }
  .xianshi {
    display: block!important;
  }
  #none {
    display: none;
  }
  .viewscreen {
    width: 300px!important;
    margin-left: 0!important;
  }
  #jiage {
    display: none!important;
  }
}
.active {
  display: flex;
  width: 1249px;
}
.active div {
  cursor: pointer;
}
.active img {
  width: 385.66px;
  height: 241.03px;
}
.active a {
  color: #000;
}
.active span {
  font-size: 18px;
  font-weight: 600;
}
.swj_title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hangzhou {
  width: 301.25px;
  height: 330.05px;
  cursor: pointer;
}
.hangzhou > div {
  overflow: hidden;
}
.hangzhou img {
  transition: all .5s;
  width: 285.25px;
  height: 190.16px;
}
.hangzhou span {
  font-size: 16px;
  font-weight: 700;
}
.hangzhou a {
  color: #008489;
}
.hangzhou:hover img {
  opacity: 0.6;
  transform: scale(1.1);
}
.hangzhou:hover .glyphicon-heart-empty {
  color: red!important;
  font-weight: 900;
  opacity: 1;
}
.ruler {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #fff;
  z-index: 5;
}
