.title {
  color: black;
}
.title a {
  text-decoration: none;
}
.title h4 {
  font-weight: 700;
  color: black;
}
.title p {
  color: black;
  font-size: 17px;
}
.title .glyphicon {
  display: none;
}
.title:hover .glyphicon {
  display: inline-block;
}
a {
  color: black;
}
.all {
  width: 12rem;
  height: 6rem;
  margin: 0 auto;
}
.all .title {
  margin-top: .2rem;
}
.all .title a {
  color: black;
}
.all img {
  width: 2.62rem;
  height: 1.64rem;
  overflow: hidden;
}
.all .exam:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
.all .row {
  width: 12rem;
  height: 6rem;
}
.all .row .exam {
  margin-top: .4rem;
}
.all .row .exam .xing span {
  cursor: pointer;
  color: #008489;
}
@media screen and (max-width: 768px) {
  .title p {
    font-size: 24px;
  }
  .title h4 {
    font-size: 24px;
  }
  .title a {
    font-size: 25px;
  }
}
@media screen and (max-width: 1200px) {
  .title p {
    font-size: 28px;
  }
  .title h4 {
    font-size: 28px;
  }
  .title a {
    font-size: 29px;
  }
}
