.title {
    color: black;
    a{
        text-decoration: none;
    }
    h3{
        font-weight: 700;
        color: black;
    }
    p{
        color: black;
        font-size: 17px;
    }
    .glyphicon{
        display: none;
        // display:inline-block;
    
    }

}
.title:hover .glyphicon{
    display:inline-block;
} 
a{
    color: black;
}  
.all{
    width: 1150px;
    height: 900px;
    margin: 0 auto;

    .title{
        margin-top: 20px;
        a{
        color: black;
        }
    }
    img{
        width: 262px;
        height: 164px;
        overflow: hidden;
    }
    .exam:hover{
        opacity: 0.6;
        // width: 270px;
        // height: 170px;
        transform: scale(1.1);
    }
    .row{
        width: 1200px;
       height:700px;
    .exam{
        margin-top:40px;
    .xing{
     span{
         cursor: pointer;
          color: rgb(0, 132, 137);
   }
   }
   }
   }

} 
