.carousel-inner img {
  width: 410px;
  height: 546px;
}
.carousel {
  margin: 30px 30px;
  width: 410px;
  height: 546px;
  float: left;
}
.carousel li {
  background-color: rgba(223, 217, 217, 0.747);
}
.user img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.user1 img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.xing a {
  color: black;
}
.xing span {
  padding: 0;
  color: #008489;
  font-weight: 500;
}
.fix {
  height: 50px;
  width: 1269px;
  margin: auto auto;
}
.btn-right {
  float: right;
  border: none;
  padding: 0;
  background-color: #ff5a5f;
  width: 200px;
  height: 50px;
  position: relative;
  top: -20px;
}
.btn-right div {
  font-size: 16px;
  width: 200px;
  line-height: 50px;
  color: aliceblue;
  text-align: center;
}
.article-right {
  width: 820px;
  height: 616px;
  float: right ;
  margin-top: 30px;
}
.article-right .eng {
  width: 571px!important;
  height: 179px;
  font-size: 18px;
  overflow: hidden;
}
.article-right .tips {
  margin-right: 20px;
}
.article-right .tips span {
  margin-bottom: 10px;
}
