.title {
  color: black;
}
.title a {
  text-decoration: none;
}
.title h3 {
  font-weight: 700;
  color: black;
}
.title p {
  color: black;
  font-size: 17px;
}
.title .glyphicon {
  display: none;
}
.title:hover .glyphicon {
  display: inline-block;
}
a {
  color: black;
}
.all {
  width: 1150px;
  height: 900px;
  margin: 0 auto;
}
.all .title {
  margin-top: 20px;
}
.all .title a {
  color: black;
}
.all img {
  width: 262px;
  height: 164px;
  overflow: hidden;
}
.all .exam:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
.all .row {
  width: 1200px;
  height: 700px;
}
.all .row .exam {
  margin-top: 40px;
}
.all .row .exam .xing span {
  cursor: pointer;
  color: #008489;
}
