.header {
  height: 80px;
  background: none;
  z-index: 10;
  border-bottom: 1px solid #eee;
}
.header #logo i {
  color: #FF5A5F;
}
.header .search {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(200, 200, 200, 0.5);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.header .search.focus {
  border: 1px solid #788;
}
.header .search i {
  color: #484848;
  font-weight: bold;
}
.header .search .input-text {
  color: #484848;
}
.header .search .user-history {
  border: 1px solid #ddd;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.header .header-nav > li:not(.sub):hover {
  border-color: #788;
}
.header .header-nav > li:not(.sub) a {
  color: #484848;
}
.header .header-nav li.sub {
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid#f1f1f1;
}
.header .header-nav li.sub.app {
  width: 420px;
}
.main {
  padding-top: 24px;
}
.main .container .content:first-child {
  margin-bottom: 24px;
}
.main .container .content:first-child ul li a {
  font-size: 16px;
  line-height: 33px;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #767676;
  text-decoration: none;
}
.main .container .content:first-child ul li.active a {
  font-weight: bold;
  color: #484848;
}
.main .container .content:first-child ul li:not(.active):hover a {
  color: #bbb;
}
.main .container .content:first-child .user_msg {
  height: 34px;
  width: 100%;
  border: 1px solid #c4c4c4;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 24px;
  cursor: pointer;
}
.main .container .content:first-child .user_msg:hover {
  border-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.main .container .content:first-child .user_msg a {
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .main .container .content:first-child ul li a {
    font-size: 15px;
  }
  .main .container .content:first-child .user_msg {
    font-size: 13px;
  }
}
.main .container .content:not(.tabs_content) {
  display: none;
}
.main .container .content:not(.tabs_content).active {
  display: block;
}
.main .container .content:not(.tabs_content) .title {
  line-height: 17px;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  background-color: #edefed;
  border-bottom: 1px solid #dce0e0;
  color: #484848;
}
.main .container .content:not(.tabs_content) > .row {
  margin-right: 0;
  margin-left: 0;
  border: 1px solid #dce0e0;
  margin-bottom: 24px;
}
.main .container .content:not(.tabs_content) > .row .row {
  margin-right: 0;
  margin-left: 0;
}
.main .container .content.base {
  padding-right: 0;
  padding-left: 0;
}
.main .container .content.base > .row .title {
  margin-bottom: 24px;
}
.main .container .content.base > .row .msg_list {
  margin-bottom: 24px;
  overflow: hidden;
}
.main .container .content.base > .row .msg_list .label {
  padding: 0;
}
.main .container .content.base > .row .msg_list .label label {
  line-height: 36px;
  text-align: right;
  margin: 0;
  height: 36px;
  float: right;
  color: #484848;
  font-weight: normal;
  font-size: 14px;
}
.main .container .content.base > .row .msg_list .input p {
  line-height: 22px;
  color: #767676;
  margin-top: 5px;
  margin: 10px 0;
}
.main .container .content.base > .row .msg_list .input input {
  border: 1px solid #aaaaaa;
  height: 36px;
  width: 100%;
  padding: 8px 10px;
}
.main .container .content.base > .row .msg_list.sex select {
  width: 25%;
}
.main .container .content.base > .row .msg_list.sex select option {
  width: 100%;
}
@media (max-width: 768px) {
  .main .container .content.base > .row .msg_list.sex select {
    width: 50%;
  }
}
.main .container .content.base > .row .msg_list.birthday select {
  width: 15%;
  display: inline-block;
}
@media (max-width: 1200px) {
  .main .container .content.base > .row .msg_list.birthday select {
    width: 25%;
    font-size: 10px;
    padding: 0;
  }
}
.main .container .content.base > .row .msg_list.firstLunguage select {
  width: 30%;
}
@media (max-width: 768px) {
  .main .container .content.base > .row .msg_list.firstLunguage select {
    width: 50%;
  }
}
.main .container .content.base > .row .msg_list.firstCurrency select {
  width: 30%;
}
@media (max-width: 768px) {
  .main .container .content.base > .row .msg_list.firstCurrency select {
    width: 50%;
  }
}
.main .container .content.base > .row .msg_list.intro textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  resize: none;
  background-color: #ffd;
  color: #484848;
}
.main .container .content.base > .row .row {
  margin-right: 0;
  margin-left: 0;
}
@media (max-width: 768px) {
  .main .container .content.base .title {
    font-size: 16px;
  }
}
.main .container .content.base .save {
  height: 42px;
  width: 88px;
  line-height: 42px;
  text-align: center;
  background-color: #ff5a5f;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: bold;
}
.main .container .content.base .save:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
.main .container .content.picture > .row .title {
  margin-bottom: 24px;
}
.main .container .content.picture > .row .pic {
  padding: 0 20px 20px;
  text-align: center;
}
.main .container .content.picture > .row .pic img {
  width: 100%;
}
@media (max-width: 768px) {
  .main .container .content.picture > .row .pic img {
    width: 225px;
  }
}
.main .container .content.picture > .row .text p {
  line-height: 1.7;
}
.main .container .content.picture > .row .text .select {
  width: 100%;
  height: 42px;
  border: 1px solid #ddd;
  line-height: 42px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 24px;
}
.main .container .content.picture > .row .text .select:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-color: #fff;
}
.main .container .content.verify .row:nth-child(1) .text {
  min-height: 140px;
}
.main .container .content.verify .row:nth-child(1) .text h4 {
  padding-right: 160px;
}
.main .container .content.verify .row:nth-child(1) .text p {
  padding-right: 160px;
}
.main .container .content.verify .row:nth-child(1) .text img {
  width: 152px;
  height: 100px;
  vertical-align: text-top;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 768px) {
  .main .container .content.verify .row:nth-child(1) .text img {
    height: 60%;
  }
}
.main .container .content.verify .text {
  padding: 20px 10px;
  position: relative;
  overflow: hidden;
}
.main .container .content.verify .text h4 {
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 16px;
  font-weight: bold;
  color: #484848;
}
.main .container .content.verify .text p {
  font-size: 14px;
  color: #484848;
  margin-bottom: 15px;
  line-height: 30px;
}
.main .container .content.verify .text .button {
  height: 36px;
  width: 289px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #c4c4c4;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}
.main .container .content.verify .text .button a {
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.main .container .content.verify .text .button:hover {
  border-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
.main .container .content.estimate .row:not(.tabs),
.main .container .content.recommend .row:not(.tabs) {
  display: none;
}
.main .container .content.estimate .row:not(.tabs).active,
.main .container .content.recommend .row:not(.tabs).active {
  display: block;
}
.main .container .content.estimate .row:nth-child(1),
.main .container .content.recommend .row:nth-child(1) {
  border: none;
  border-bottom: 1px solid #ddd;
}
.main .container .content.estimate .row:nth-child(1) span,
.main .container .content.recommend .row:nth-child(1) span {
  display: inline-block;
  height: 49px;
  line-height: 49px;
  padding: 0 4px;
  margin-right: 10px;
  border-bottom: 0px solid transparent;
  font-size: 14px;
  transition: all .4s;
  cursor: pointer;
  user-select: none;
}
.main .container .content.estimate .row:nth-child(1) span.active,
.main .container .content.recommend .row:nth-child(1) span.active {
  border-bottom: 4px solid #aaa;
}
.main .container .content.estimate .tips,
.main .container .content.recommend .tips {
  font-size: 16px;
  padding: 20px;
}
.main .container .content.estimate .text,
.main .container .content.recommend .text {
  margin: 0 20px 20px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.main .container .content.estimate .text:last-child,
.main .container .content.recommend .text:last-child {
  border-bottom: none;
}
.main .container .content.estimate .text > div,
.main .container .content.recommend .text > div {
  padding-left: 0;
  padding-right: 0;
}
.main .container .content.estimate .text > div .user,
.main .container .content.recommend .text > div .user {
  margin-right: 20px;
  text-align: center;
  float: left;
}
.main .container .content.estimate .text > div .user img,
.main .container .content.recommend .text > div .user img {
  height: 68px;
  width: 68px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.main .container .content.estimate .text > div .box p,
.main .container .content.recommend .text > div .box p {
  margin: 0;
  line-height: 20px;
}
.main .container .content.estimate .text > div .box .contents,
.main .container .content.recommend .text > div .box .contents {
  margin: 10px 0 15px;
}
.main .container .content.estimate .text > div .box .reply,
.main .container .content.recommend .text > div .box .reply {
  text-align: right;
}
.main .container .content.estimate .text > div .box .time,
.main .container .content.recommend .text > div .box .time {
  color: #aaa;
}
.main .container .content.estimate .text h4,
.main .container .content.recommend .text h4 {
  font-weight: bold;
  font-size: 15px;
}
.main .container .content.estimate .text p,
.main .container .content.recommend .text p {
  font-size: 14px;
  color: #484848;
  margin-bottom: 15px;
  line-height: 30px;
}
